<div class="container">
  
  <div class="row my-4 ml-5">
    <h2><strong>配送先編集</strong></h2>
  </div>

    <%= form_with model: @address do |f| %>

      <div class="d-flex justify-content-around align-items-center  col-8">

        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>郵便番号（ハイフンなし）</th>
              <td><%= f.text_field :postcode %> </td>
            </tr>

            <tr>
              <th>住所</th>
              <td><%= f.text_field :address %></td>
            </tr>

            <tr>
              <th>宛名</th>
              <td> <%= f.text_field :name %></td>
              <td><%= f.submit "変更内容を保存", class:"btn btn-success" %></td>
            </tr>
          </tbody>
        </table>

      </div>

    <% end %>

</div